.form {
  display: flex;

  align-items: center;
  gap: 10px;
}

.input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.searchBtn {
  padding: 10px 20px;

  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
