.loadBtn {
  padding: 10px 20px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.loadMore {
  display: flex;
  justify-content: center;

  margin: 20px auto;
}
